{
  "presets": ["babel-preset-expo", "react-native-dotenv"],
  "env": {
    "development": {
      "plugins": [["import", { "libraryName": "antd-mobile-rn"}], "transform-react-jsx-source"]
    }
  }
}
