{
  "presets": ["babel-preset-expo", "react-native-uport-connect/babel-preset.js"],
  "env": {
    "development": {
      "plugins": [["import", { "libraryName": "antd-mobile-rn"}], "transform-react-jsx-source"]
    }
  }
}
