[submodule "contracts"]
	path = contracts
	url = https://github.com/CirclesUBI/circles-contracts.git
  branch = master
[submodule "lib/utilities/metatx-client"]
	path = lib/utilities/metatx-client
	url = git@github.com:CirclesUBI/metatx-client.git
